<table class='table table-striped table-bordered table-hover'>
  <thead>
    <tr>
      <th width='20%'>Persona</th>
      <th width='20%'>Comentario</th>
      <th width='20%'>Profesor</th>
      <th width='20%'>Materia</th>
      <th width='12%'>Fecha</th>
      <th width='8%'></th>
    </tr>
  </thead>
  <tbody>
	<% @comments.order('id').all.each do |comment| %>
  <tr>
    <td> <%= link_to "#{comment.user.full_name}", user_path(comment.user_id) %> </td>
    <td> <%= link_to "#{comment.content[0..20]}", comment_path(comment.id) %> </td>
    <td> <%= link_to "#{comment.teacher.full_name}", teacher_path(comment.teacher_id) %> </td>
    <td> <%= link_to "#{comment.course.name}", course_path(comment.course_id) %> </td>
    <td> <%= comment.date_post %> </td>
    <td> <%= link_to 'Eliminar', comment, method: :delete, data: { confirm: '¿Seguro?' } %> </td>
  </tr>
	<% end %>
	</tbody>
</table>