<h1>Listing comments</h1>

<table>
  <thead>
    <tr>
      <th>Teacher</th>
      <th>Course</th>
      <th>User</th>
      <th>Date post</th>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.teacher %></td>
        <td><%= comment.course %></td>
        <td><%= comment.user %></td>
        <td><%= comment.date_post %></td>
        <td><%= comment.content %></td>
        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_comment_path %>
