<h1>Comentarios</h1>
<% if @comments.nil? || @comments.count <= 0 %>
  <p class='text-danger'> No hay comentarios disponibles.</p>
<% else %>
	<table class='table table-striped table-bordered table-hover'>
  <thead>
    <tr>
      <th width='20%'>Profesor</th>
      <th width='20%'>Comentario</th>
      <th width='20%'>Materia</th>
      <th width='12%'>Fecha</th>
      <th width='4%'></th>
      <th width='4%'></th>
    </tr>
  </thead>
  <tbody>
  <% if current_user.admin %>
    <% @comments.order('id').each do |comment| %>
  <% else %>
	 <% @comments.order('id').where('user_id = ?', current_user.id).each do |comment| %>
  <% end %>
  <tr>
    <td> <%= link_to comment.teacher.full_name, teacher_path(comment.teacher.id) %></td>
    <td> <%= link_to "#{comment.content[0..20]}", comment_path(comment) %> </td>
    <td> <%= link_to comment.course.name, course_path(comment.course.id)%></td>
    <td> <%= comment.date_post %></td>
    <% if current_user.admin %>
    	<td><%= link_to 'Editar', edit_comment_path(comment) %></td>
    <% end %>
    <td><%= link_to 'Eliminar', comment, method: :delete, data: { confirm: '¿Seguro?' } %></td>
  </tr>
  <% end %>
  </tbody>
	</table>
<% end %>
<br>
<button class='btn btn-primary btn-sm' type='button' onclick="window.location.href='<%= new_comment_path %>'" > Nuevo </button>