<% if flash[:notice] %>
  <div class="alert alert-dismissable alert-success">
    <%= notice %>
  </div>
<% end %>

<div>
  <b>Fecha:</b>
  <%= @comment.date_post %>
</div>

<div>
  <strong>Profesor:</strong>
  <%= @comment.teacher.full_name %>
</div>

<div>
  <strong>Materia:</strong>
  <%= @comment.course.name %>
</div>

<div>
  <strong>Comentario:</strong><br>
  <%= @comment.contenido %>
</div>
<br>
<%= link_to 'Editar', edit_comment_path(@comment) %> |
<%= link_to 'Volver', comments_path %>
