<p id="notice"><%= notice %></p>

<p>
  <strong>Teacher:</strong>
  <%= @comment.teacher.name %>
</p>

<p>
  <strong>Course:</strong>
  <%= @comment.course.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user.name %>
</p>

<p>
  <strong>Date post:</strong>
  <%= @comment.date_post %>
</p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<%= link_to 'Editar', edit_comment_path(@comment) %> |
<%= link_to 'Volver', comments_path %>
