<%= form_for(@major) do |f| %>
  
  <%= render 'layouts/error_messages', object: @major %>

  <div class="field">
    <%= f.label :name, 'Nombre' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :school_id, 'Escuela' %>
    <%= f.collection_select :school_id, School.order('name').all, :id, :name, {prompt:true}, {:class => 'form-control'} %>
  </div>
  <br>
  <button type='submit' class='btn btn-primary btn-sm'> Guardar </button>
<% end %>
