<%= form_for(@teacher) do |f| %>

  <%= render 'layouts/error_messages', object: @teacher %>

  <div class='field'>
    <%= f.label :name, 'Nombre' %>
    <%= f.text_field :name, class:'form-control' %>
  </div>
  <div class='field'>
    <%= f.label :last_name, 'Apellido paterno' %>
    <%= f.text_field :last_name, class:'form-control' %>
  </div>
  <div class='field'>
    <%= f.label :second_last_name, 'Apellido materno' %>
    <%= f.text_field :second_last_name, class:'form-control' %>
  </div>
  <div class='field'>
    <%= f.label 'Materias' %>
    <% current_user.materias.each do |course| %>
        <br><%= check_box_tag 'teacher[course_ids][]', course.id, @teacher.courses.include?(course) %>
        <%= course.name %> 
    <% end %>
  </div>
  <div class='field'>
    <%= f.label :picture, 'Imagen' %>
    <%= f.file_field :picture %>
  </div>
  <br>
  <button type='submit' class='btn btn-primary btn-sm'> Guardar </button>
<% end %>
