<% if flash[:notice] %>
	<div class="alert alert-dismissable alert-success">
		<%= notice %>
	</div>
<% end %>

<div class='col-md-3'>
	<%= link_to @teacher.picture.url do %>
		<%= image_tag @teacher.picture.url(:mini) %>
	<% end %>
	<br>
	<%# Courses.find_by_teacher_id(@teacher.id) %>
</div>
<div class='col-md-9'>
	<h1> <%= @teacher.full_name %> </h1>
	<%= link_to 'Editar', edit_teacher_path(@teacher) %> |
	<%= link_to 'Volver', teachers_path %> <br>
	<br>
	Jotos todos n.n
</div>