<p id="notice" class='alert-dismissable alert-success'> <%= notice %> </p>
<h1>
  <%= @teacher.full_name %> 
  <br>
  <%= link_to @teacher.picture.url do %>
  	<%= image_tag @teacher.picture.url(:mini) %>
  <% end %>
</h1>
<%= link_to 'Editar', edit_teacher_path(@teacher) %> |
<%= link_to 'Volver', teachers_path %>
