<% if flash[:notice] %>
	<div class="alert alert-dismissable alert-success">
		<%= notice %>
	</div>
<% end %>

<div class='col-md-3'>
	<%= link_to @teacher.picture.url do %>
		<%= image_tag @teacher.picture.url(:mini) %>
	<% end %>
	<br>
	<br>
	<br>
	<% unless @teacher.course_ids.nil? %>
		<p class='text-danger'> No hay materias asignadas </p>
	<% else %>
		<% @teacher.courses.each do |course| %>
			<%= course.name %>
		<% end %>
	<% end %>
</div>
<div class='col-md-9'>
	<h1> <%= @teacher.full_name %> </h1>
	<%= link_to 'Editar', edit_teacher_path(@teacher) %> |
	<%= link_to 'Volver', teachers_path %> <br>
	<br>
</div>