<p id="notice"><%= notice %></p>

<h1>
  <%= @teacher.name %> 
  <%= @teacher.last_name %>
  <%= @teacher.second_last_name %>
</h1>

<%= link_to 'Editar', edit_teacher_path(@teacher) %> |
<%= link_to 'Volver', teachers_path %>
