<% if flash[:notice] %>
	<div class="alert alert-dismissable alert-success">
		<%= notice %>
	</div>
<% end %>

<div class='col-md-3'>
	<% unless @teacher.picture_file_name.nil? %>
		<%= link_to @teacher.picture.url do %>
			<%= image_tag @teacher.picture.url(:mini) %>
		<% end %>
	<% end %>
	<br>
	<br>
	<% if can? :update, @teacher %>
		<%= link_to 'Editar', edit_teacher_path(@teacher) %> |
	<% end %>
	<%= link_to 'Volver', teachers_path %>
</div>
<div class='col-md-9'>
	<h1> <%= @teacher.full_name %> </h1>
	<% if @teacher.courses.length <= 0 %>
			<p class='text-danger'> No hay materias asignadas </p>
	<% else %>
		<strong> Materias que imparte: </strong>
		<ul>
			<% @teacher.courses.each do |course| %>
				<li> <%= course.name %> </li>
			<% end %>
		</ul>
		<p align='middle'>
		<button class='btn btn-primary btn-sm' type='button' onclick="window.location.href='<%= new_comment_path %>'" > Comentar </button>
		</p>
		<% Teacher.find(params[:id]).comments.order('id').each do |comment| %>
			<br>
			<i> <strong> <%= current_user.nickname %></strong></i>: 
			<ul> <%= comment.contenido %> </ul>
		<% end %>
	<% end %>
</div>