<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(@course.errors.count, 'error') %> prohibited this course from being saved:</h2>
      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field'>
    <%= f.label :name, 'Nombre' %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class='field'>
    <%= f.label :major_id, 'Carrera' %><br>
    <%= f.collection_select :major_id, Major.order('name').all, :id, :name , { prompt: true }, { class: 'form-control'} %>
  </div>
    <div class='field'>
    <%= f.label :semester, 'Semestre' %><br>
    <%= f.number_field :semester, class: 'form-control' %>
  </div>
  <br>
  <button type='submit' class='btn btn-primary btn-sm'> Guardar </button>
<% end %>
