<% if flash[:notice] %>
	<div class="alert alert-dismissable alert-success">
		<%= notice %>
	</div>
<% end %>

<h1> <%= @course.name %> </h1>

<p>
  <strong>Semestre:</strong>
  <%= @course.semester %>
</p>

<p>
  <strong>Carrera:</strong>
  <% unless @course.major_id.nil? %>
  	<%= @course.major.name %>
  <% end %>
</p>

<%= link_to 'Volver', courses_path %>
