<div> 
	<%= link_to 'Profesores', teachers_path %> 
</div>
<div>
	<%= link_to 'Comentarios', comments_path %> 
</div>
<div>
	<%= link_to 'Carreras', majors_path %> 
</div>
<div>
	<%= link_to 'Roles', rols_path %> 
</div>
<div>
	<%= link_to 'Personas', users_path %> 
</div>
<div>
	<%= link_to 'Materia', courses_path %> 
</div>