<!DOCTYPE html>
<html>
<head>
  <title>Post-T</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='row-fuid'>
	<div class='span3'>
		<%= render 'layouts/navbar' %>
	</div>
	<div class='span10'>
		<%= yield %>
	</div>
</div>
</body>
</html>
